@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<a class="btn btn-success" id="register" asp-area="Identity" asp-page="/Account/Register" style="font-size:17px">Add a new account</a>


