@model Tickets

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Category</h2>
			<hr/>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Title" class="p-0"></label>
			<input asp-for="Title" class="form-control"/>
		</div>

		<div class="mb-3 row p-1">
			<label asp-for="Summary" class="p-0"></label>
			<input asp-for="Summary" type="text" class="form-control" />
		</div>

		<div class="mb-3 row p-1">
			<label asp-for="Description" class="p-0"></label>
			<input asp-for="Description" type="text" class="form-control" />
		</div>

		<div class="mb-3 row p-1">
			<label asp-for="Status" class="p-0"></label>
			<select asp-for="Status" class="form-control">
				<option value="OPEN">OPEN</option>
				<option value="CLOSED">CLOSED</option>
			</select>
		</div>

		<div class="mb-3 row p-1">
			<label asp-for="ResolvedorNot" class="p-0"></label>
			<select asp-for="ResolvedorNot" class="form-control">
				<option value=true>True</option>
				<option value=false>False</option>
			</select>
		</div>

		<div class="row">
			<div class="col-6">
				<button type="submit" class="btn btn-success form-control" >Create</button>
			</div>
			<div class="col-6">
				<a asp-controller="Category" asp-action="Index" class="btn btn-info  border form-control">
					Back to List
				</a>
			</div>

		</div>

	</div>

</form>
