@model Tickets
@using UNeedTickets.Models

<form method="post">
	<div class="border p-3 mt-4">

		<div class="row pb-2">
			<h2 class="text-primary">Edit Ticket</h2>
			<hr />
		</div>

		<div class="mb-3 row p-1">
			<label asp-for="Title" class="p-0"></label>
			<input asp-for="Title" readonly class="form-control" style="background-color:lightgrey" />
		</div>

		<div class="mb-3 row p-1">
			<label asp-for="Id" class="p-0"></label>
			<input asp-for="Id" readonly type="text" class="form-control" style="background-color:lightgrey" />
		</div>


		
			<div class="mb-3 row p-1">
				<label asp-for="Summary" class="p-0"></label>
			@if (User.IsInRole(SD.Role_QA))
			{
				<input asp-for="Summary"  type="text" class="form-control" />
			}
			@if (User.IsInRole(SD.Role_RD))
			{
				<input asp-for="Summary" readonly type="text" class="form-control" style="background-color:lightgrey" />
			}

			</div>
		




		<div class="mb-3 row p-1">
			<label asp-for="Description" class="p-0"></label>

			@if (User.IsInRole(SD.Role_QA))
			{
				<input asp-for="Description"  type="text" class="form-control" />
			}
			@if (User.IsInRole(SD.Role_RD))
			{
				<input asp-for="Description" readonly type="text" class="form-control" style="background-color:lightgrey" />
			}

		</div>



		<div class="mb-3 row p-1">
			<label asp-for="Status" class="p-0"></label>
			@if (User.IsInRole(SD.Role_QA))
			{
				<select asp-for="Status" class="form-control">
					<option value="OPEN">OPEN</option>
					<option value="CLOSED">CLOSED</option>
				</select>
			}
			@if (User.IsInRole(SD.Role_RD))
			{
				<select asp-for="Status" class="form-control" style="cursor: not-allowed; pointer-events: none;background-color:lightgrey">
					<option value="OPEN">OPEN</option>
					<option value="CLOSED">CLOSED</option>
				</select>
			}


		</div>




		<div class="mb-3 row p-1">
			<label asp-for="ResolvedorNot" class="p-0">Resolved or Not</label>

			@if (User.IsInRole(SD.Role_QA))
			{

				<select asp-for="ResolvedorNot" class="form-control" style="cursor: not-allowed; pointer-events: none;background-color:lightgrey">
					<option value=true>True</option>
					<option value=false>False</option>
				</select>

			}

			@if (User.IsInRole(SD.Role_RD))
			{

				<select asp-for="ResolvedorNot" class="form-control">
					<option value=true>True</option>
					<option value=false>False</option>
				</select>

			}

		</div>




		<div class="row">
			<div class="col-6">
				<button type="submit" class="btn btn-success form-control">Update</button>
			</div>
			<div class="col-6">
				<a asp-controller="Category" asp-action="Index" class="btn btn-info form-control">
					Back to List
				</a>
			</div>




		</div>

	</div>

</form>
