@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<IdentityUser>
@using Microsoft.AspNetCore.Identity;
@using UNeedTickets.Models

<style>
	.custom-row {
		margin-left: 250px;
		margin-right: 250px;
	}
</style>

<div>
	<div class="row pt-4 pb-3 custom-row">
		<div class="col-6">
			<h2 class="text-primary">
				Current Accounts
			</h2>
		</div>

		<div class="col-6 text-right">
			<partial name="_LoginPartial - Copy" />
		</div>
	</div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					Username
				</th>
				<th>
					Role
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model)
			{
				<tr>
					<td> @obj.UserName </td>
					<td>Coming soon</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-controller="Category" asp-action="Inspect" asp-route-Id="@obj.Id" class="btn btn-info mx-2" style="width: 40px;height:30px;display: flex; align-items: center; justify-content: center;">
								<i class="bi bi-pencil-square"></i> Inspect
							</a>
						</div>
						
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
